body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-window{
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.modal-content,.modal-header  {
  background-color: white;
  margin: auto;
  padding: 20px;
  display:flex;
  justify-content: space-between;
  border: 1px solid #888;
  width: 40%;
}

.close-button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-window-active{
  display : block;
}

.add-new-board{
  margin-top: 40px;
  border : 0px;
  padding : 15px 35px;
  cursor : pointer;
  background-color: #00ccff;
  color :white;
  border-radius: 8px;
}

.Link, .Link:visited{
  text-decoration: none;
  color :black;
}

.add-new-board:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}